<div>
  <h2>Your form inputs</h2>
  <h4>Favorite type of boba</h4>
  <p>
    <%= @drink %>
  </p>
  <h4>Side of campus you live on</h4>
  <p>
    <%= @living %>
  </p>
  <h4>Major</h4>
  <p>
    <%= @major %>
  </p>
</div>
